<!DOCTYPE html>
<html lang="en">
  <head>
    <title>App</title>
  </head>
  <body class="container">
    <header><%- include('../partials/nav'); %></header>

    <main>Profile Page</main>
  </body>
</html>
